<!DOCTYPE HTML>
<html>
  <head>
    <title>Admin</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../../static/Admin/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="../../static/Admin/assets/css/noscript.css" /></noscript>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <style>
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #video-stream {
      width: 100%;
      max-width: 640px;
      height: auto;
      border: 1px solid #ccc;
      margin: 0 auto;
    }
    
    #video2-stream {
      width: 100%;
      max-width: 640px;
      height: auto;
      border: 1px solid #ccc;
      margin: 0 auto;
    }

    #capture {
      display: block;
      margin: 1rem auto;
    }

    #canvas {
      display: none;
    }
  </style>
  <body class="left-sidebar is-preload">
    <div id="page-wrapper">
      <!-- Header -->
      <div id="header">
        <!-- Inner -->
        <div class="inner">
          <header>
            <h1><a href="/" id="logo">Monitor</a></h1>
          </header>
        </div>
        <!-- Nav -->
        <nav id="nav">
          <ul>
            <li><a href="/admin">Dashboard</a></li>
            <li><a href="/admin/Controls">Monitor</a></li>
            <li><a href="/admin/Historic">Historic Data</a></li>
            <li><a href="/admin/register">Register</a></li>
            <li><a href="/">Sign Out</a></li>
          </ul>
        </nav>
      </div>

      <!-- Main -->
      <div class="wrapper style1">
        <div class="container">
          <h1>CCTV FEED</h1>
          <img id="video-stream" src="{{ url_for('cctv_feed') }}" width="320" height="240">
          <canvas id="canvas" width="320" height="240"></canvas>

          <button id="capture" onclick="capture()">Capture</button>
          
          <h1>DOOR FEED</h1>
          <img id="video2-stream" src="{{ url_for('door_feed') }}" width="320" height="240">
          <canvas id="canvas" width="320" height="240"></canvas>
        </div>
      </div>

      <script>
        var video = document.getElementById("video-stream");
        var canvas = document.getElementById("canvas");
        var context = canvas.getContext("2d");
        var captureBtn = document.getElementById("capture");

        // add your name and chat IDs
        const chat1 = 626048178;
        var asuncion = 5876464329;
        

        // add to array
        var chatIDs =[
          chat1,
          asuncion,
        ]

        // capture images
        captureBtn.addEventListener("click", function () {
          // Draw the video frame on the canvas
          context.drawImage(video, 0, 0, canvas.width, canvas.height);

          // Convert the canvas to a blob object
          canvas.toBlob(function (blob) {
            // Create a FormData object to send the image
            var formData = new FormData();
            var telegram_bot_id = "6282148904:AAHxV4u5rb5sVrKxvCzCJ2EAVCr4jHq4740";
            var chatid1 = 5876464329; //ASUNCION

            // format for sending Images
            formData.append("chat_id", JSON.stringify(chatIDs));
            formData.append("photo", blob, "photo.jpg");
            formData.append("caption", "Captured Images");

            for (var i = 0; i < chatIDs.length; i++) {
              formData.set('chat_id', chatIDs[i]);
              
              // Send the image and caption to the Telegram Bot API using Axios
              axios
              .post(
                "https://api.telegram.org/bot" +
                  telegram_bot_id +
                  "/sendPhoto",
                formData,
                {
                  headers: {
                    "Content-Type": "multipart/form-data",
                  },
                }
              )
              .then(function (response) {
                console.log(response);
              })
              .catch(function (error) {
                console.log(error);
              });

            }
            }, "image/jpeg", 0.75);
        });
      </script>

      <!-- Scripts -->
      <script src="../../static/Admin/assets/js/jquery.min.js"></script>
      <script src="../../static/Admin/assets/js/jquery.dropotron.min.js"></script>
      <script src="../../static/Admin/assets/js/jquery.scrolly.min.js"></script>
      <script src="../../static/Admin/assets/js/jquery.scrollex.min.js"></script>
      <script src="../../static/Admin/assets/js/browser.min.js"></script>
      <script src="../../static/Admin/assets/js/breakpoints.min.js"></script>
      <script src="../../static/Admin/assets/js/util.js"></script>
      <script src="../../static/Admin/assets/js/main.js"></script>
    </div>
  </body>
</html>
