<!DOCTYPE HTML>

<html>
	<head>
		<title>Admin</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../../static/Admin/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../../static/Admin/assets/css/noscript.css" /></noscript>
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1><a href="/admin" id="logo">Admin</a></h1>
								<hr />
					
							</header>
							<footer>
								<a href="#banner" class="button circled scrolly">Lock</a>
							</footer>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/admin">Dashboard</a></li>
								<li><a href="/admin/Controls">Controls</a></li>
								<li><a href="/admin/Historic">Historic Data</a></li>
								<li><a href="/admin/register">Register</a></li>
								<li><a href="/">Sign Out</a></li>
							</ul>
						</nav>

				</div>
			</div>

		<!-- Scripts -->
			<script src="../../static/Admin/assets/js/jquery.min.js"></script>
			<script src="../../static/Admin/assets/js/jquery.dropotron.min.js"></script>
			<script src="../../static/Admin/assets/js/jquery.scrolly.min.js"></script>
			<script src="../../static/Admin/assets/js/jquery.scrollex.min.js"></script>
			<script src="../../static/Admin/assets/js/browser.min.js"></script>
			<script src="s../../tatic/Admin/assets/js/breakpoints.min.js"></script>
			<script src="../../static/Admin/assets/js/util.js"></script>
			<script src="../../static/Admin/assets/js/main.js"></script>

	</body>
</html>