<!DOCTYPE HTML>

<html>
	<head>
		<title>Admin</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1><a href="index.html" id="logo">Register</a></h1>
							</header>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="index.html">Dashboard</a></li>
								<li><a href="controls.html">Controls</a></li>
								<li><a href="historic.html">Historic Data</a></li>
								<li><a href="register.html">Register</a></li>
							</ul>
						</nav>

				</div>

			<!-- Main -->
				<div class="wrapper style1">

					<div class="wrapper" style="text-align: center;">
						<a href="index.html" style="text-decoration: none;"><button style="font-size: 20px;">Register</button></a><br><br>
						<p style="color: black; text-align: center;">NOTE: When registering faces for facial recognition, it is essential to follow certain guidelines to ensure accurate and reliable results. Here are a few important considerations:</p><br>
						<p style="text-align: center;">Sufficient Lighting</p>
						<p style="text-align: center;">Multiple Angles</p>
						<p style="text-align: center;">Neutral Expression</p>
					</div>
					
				</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>