<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Telegram</title>

    <!-- CSS -->
    <style>
        body {
            background: white;
            margin: 0;
            padding: 0;
        }

        #container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            text-align: center;
        }

        h1 {
            color: black;
            font-size: 2.5em;
        }

        .button-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        button {
            background-color: #4CAF50;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            text-align: center;
            margin: 0 10px;
            display: block;
        }

        input {
            padding: 10px;
            width: 200px;
            margin-bottom: 10px;
            text-align: center;
        }

        #countdown {
            text-align: center;
            margin-top: 20px;
            font-size: 1.2em;
        }
    </style>
</head>

<body>
<div id="container">
    <h1>TELEGRAM</h1>

    <div class="button-container">
        <button style="background:red;" onclick="sendOTP()" id="send">Send OTP</button>
    </div><br><br>

    <div>
        <input id="otp" name="otp" placeholder="Enter OTP here">
    </div>

    <div class="button-container">
        <button style="background:black;" onclick="verifyOTP()" id="verify">Verify OTP</button>
    </div><br>

    <p id="countdown"></p>
</div>
<script>

    function open(){
     $.ajax({
      url: "/unlock", 
      type: "GET", 
      data: { /* Replace with any data you need to send to the server */ },
        success: function(response) {
        
            
          // result = response; // Update the variable with the response from the server
  
          window.location.href='/';
          console.log(response);
           
     
        },
        error: function(xhr) {
          console.log(xhr.responseText); // Handle any errors that occur
        }
      });
    }
    
    // TELEGRAM
    var telegram_bot_id = "6282148904:AAHxV4u5rb5sVrKxvCzCJ2EAVCr4jHq4740";
    //chat id
    const chat1 = 626048178;
    var asuncion = 5876464329; 
    

    // Array of chat IDs
    var chatIds = [
        chat1, 
        asuncion, 
    ]; 


    var otpExpirationTime = 1 * 50; // OTP expiration time in seconds
    var maxAttempts = 3; // Maximum number of OTP resend attempts
    var countdownInterval;
    var attempts = 0;
    var resendTimeout;
    var sendButton = document.getElementById("send");

    function generateOTP(length) {
        var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
        var otp = '';
        for (var i = 0; i < length; i++) {
            var index = Math.floor(Math.random() * characters.length);
            otp += characters.charAt(index);
        }
        return otp;
    }

    function disableResendButton() {
        sendButton.disabled = true;

        var remainingTime = 30; // 1 hour in seconds

        function countdown() {
            var minutes = Math.floor(remainingTime / 10);
            var seconds = remainingTime % 10;

            if (remainingTime <= 0) {
                clearInterval(countdownInterval);
                enableResendButton();
            } else {
                var countdownText = "Resend disabled for: " + minutes + "m " + seconds + "s";
                sendButton.textContent = countdownText;
                remainingTime--;
            }
        }

        countdownInterval = setInterval(countdown, 1000);
    }

    function enableResendButton() {
        clearInterval(countdownInterval);
        sendButton.disabled = false;
        sendButton.textContent = "Resend OTP";
    }

    function sendOTP() {
    if (attempts >= maxAttempts) {
        var remainingTime = 10; // 1 hour in seconds
        var minutes;
        var seconds;

        disableResendButton();

        var countdownInterval = setInterval(function () {
            minutes = Math.floor(remainingTime / 10);
            seconds = remainingTime % 10;

            if (remainingTime <= 0) {
                clearInterval(countdownInterval);
                enableResendButton();
                attempts = 0; // Reset attempts to zero
            } else {
                var countdownText = "Please wait for " + minutes + "m " + seconds + "s to generate a new OTP.";
                alert("Maximum attempts exceeded. " + countdownText);
                remainingTime--;
            }
        }, 1000);

        return;
    }

        if (sendButton.disabled) {
            alert("Please wait until the resend option is available.");
            return;
        }

        // Disable the send button
        sendButton.disabled = true;
        sendButton.textContent = "Sending...";

        var otp = generateOTP(6);
        var message = "THE OTP IS " + otp;


                    // Save OTP to sessionStorage with expiration time
        var expirationTime = new Date().getTime() + (otpExpirationTime * 1000);
        var otpData = {
            otp: otp,
            expirationTime: expirationTime
        };
        sessionStorage.setItem('otp', JSON.stringify(otpData));
        
        attempts++;
        
        disableResendButton();

                    
        chatIds.forEach(function (chatId) {
            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "https://api.telegram.org/bot" + telegram_bot_id + "/sendMessage",
                "method": "POST",
                "headers": {
                    "Content-Type": "application/json",
                    "cache-control": "no-cache"
                },
                "data": JSON.stringify({
                    "chat_id": chatId,
                    "text": message
                })
            };


            $.ajax(settings).done(function (response) {
                console.log(response);
            });
        });

        

  

        /*
        $.ajax(settings2).done(function (response) {
            console.log(response);
        }); */
    }

    function verifyOTP() {
        var enteredOTP = $("#otp").val();
        var otpData = JSON.parse(sessionStorage.getItem('otp'));

        if (!otpData) {
            console.log("No OTP available");
            return;
        }

        var storedOTP = otpData.otp;
        var expirationTime = otpData.expirationTime;
        var currentTime = new Date().getTime();

        if (enteredOTP === storedOTP) {
            if (currentTime <= expirationTime) {
                console.log("OTP is valid");
                // Notify OTP is verified
                alert("OTP is verified");
                open()
                clearInterval(countdownInterval);
                document.getElementById("countdown").textContent = "Welcome"; // Change this line to perform the desired action
                

                chatIds.forEach(function (chatId) {
                    var settings = {
                        "async": true,
                        "crossDomain": true,
                        "url": "https://api.telegram.org/bot" + telegram_bot_id + "/sendMessage",
                        "method": "POST",
                        "headers": {
                            "Content-Type": "application/json",
                            "cache-control": "no-cache"
                        },
                        "data": JSON.stringify({
                            "chat_id": chatId,
                            "text": "OTP Success!"
                        })
                    };
        
        
                    $.ajax(settings).done(function (response) {
                        console.log(response);
                    });
                });
        
                
            } else {
                console.log("OTP has expired");
                alert("OTP has expired");
            }
        } else {
            console.log("OTP is invalid");
            alert("OTP is invalid");
        }
    }
</script>
</body>
</html>
